/* Global CSS */
body {
  margin: 0;
  font-family: "Cookie", cursive;
  font-family: "PT Sans", sans-serif;
}

.flex-box {
  display: flex;
}
.common-color {
  color: tomato;
}
.default-btn {
  text-decoration: none;
  background-image: linear-gradient(120deg, tomato, rgb(233, 176, 53));
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
}
/* First Section Start */

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 80%;
}

.focus-text {
  border-left: orange 4px solid;
  line-height: 60px;
  font-size: 60px;
  padding-left: 15px;
  font-family: "PT Sans", sans-serif;
}

.about-focus {
  padding-right: 180px;
  margin-bottom: 40px;
  font-size: 18px;
}

.scroll-txt {
  margin-top: 40px;
  font-size: 16px;
}
/* First Section End */

/* Second Section Start */

.mission-section{
  margin-bottom: 60px;
}

.mission-header-text {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin: 30px 0px;
}

.three-card {
  width: 30%;
  padding: 15px;
}
.three-width{
  padding: 0 10%;
}

.three-card img {
  width: 30%;
}

.first-card-styles {
  background-color: #4f9da62d;
  padding: 20px;
  border-radius: 25px;
}

.second-card-styles{
  background-color: #ff595938;
  padding: 20px;
  border-radius: 25px;
}

.third-card-styles{
  background-color: #FFF4D6;
  padding: 20px;
  border-radius: 25px;
}

